.contacts {
  height: 63px;

  @media (min-width: @tablet-width) {
    height: min-content;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 20px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    width: min-content;
    margin: 0 auto;
    column-gap: 20px;
  }
}

.contacts__item {
  width: 30px;
  height: 30px;

  margin: auto;
}

.contacts__link {
  &:hover .contacts__link-social-icon {
    fill: @main-green;

    &--stroke {
      fill: none;
      stroke: @main-green;
    }
  }

  &:active .contacts__link-social-icon {
    opacity: 0.3;
  }
}

.contacts__link-social-icon {
  fill: @gray-social;

  &--stroke {
    fill: none;
    stroke: @gray-social;
  }
}
