.example {
  background-color: @additional-grey;
}

.example__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

// .example__title {
// }

.example__text {
  line-height: 18px;
}

// .example__item {
// }

.example__number {
  font-size: 24px;
}

.example__description {
  font-size: 12px;
}

.example__conclusion {
  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
}

.example__difference-slider-button {
  border: none;
  outline: none;
  background: none;

  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}
