.extra {
  margin-left: 20px;
  margin-right: 20px;
}

.extra__wrapper {
  display: grid;
  grid-template-rows: 1fr;

  @media (min-width: @desktop-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

.extra__title {
  font-size: 24px;
  line-height: 1em;
}

.extra__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.extra__item {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: @tablet-width) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(4, 1fr);
  }
}

.extra__item-name {
  font-size: 16px;
  line-height: 1em;
}

// .extra__item-description {
// }

.extra__special-offer {
  width: 280px;
  height: 289px;

  background-color: @main-green;
  background-image: url("../../img/extra/special-offer.png");
  background-repeat: no-repeat;

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.extra__special-offer-text {
  font-size: 16px;
  line-height: 20px;

  color: @main-white;
}
