.extra {
  margin-left: 20px;
  margin-right: 20px;
}

.extra__title {
  font-size: 24px;
  line-height: 1em;
}

.extra__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.extra__item-name {
  font-size: 16px;
  line-height: 1em;
}

// .extra__item-description {
// }

.extra__special-offer {
  width: 280px;
  height: 289px;

  background-color: @main-green;
  background-image: url("../../img/extra/special-offer.png");
  background-repeat: no-repeat;
}

.extra__special-offer-text {
  font-size: 16px;
  line-height: 20px;

  color: @main-white;
}
