.location {
  background-color: @main-white;
}

.location__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.location__title {
  color: @special-black;
  text-transform: uppercase;
}

.location__text {
  color: @special-grey;
  line-height: 20px;
}

.location__map {
  min-width: 320px;
  width: 100%;
  border: none;
  display: block;
}
