.main-form__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.main-form {
  display: grid;
  grid-template-rows: 1fr;
}

.main-form__inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  @media (min-width: @desktop-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-form__fieldset {
  border: none;
}

.main-form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: 1fr;

  &--extra {
    @media (min-width: @tablet-width) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: @desktop-width) {
      grid-template-rows: none;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.main-form__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &--reversed {
    direction: rtl;
  }
}

.main-form__label {
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: @special-grey;

  &--darken {
    color: @additional-black;
  }

  &--darkest {
    color: @main-black;
  }
}

.main-form__input {
  font-size: 16px;
  line-height: 18px;

  color: @special-grey;

  text-transform: uppercase;

  border: 1px solid @grey-input;

  &:hover {
    border: 1px solid @grey-input-hover;
  }

  &:focus {
    border: 2px solid @special-grey;
  }

  &--error {
    border: 2px solid @red-input-error;
  }

  &--textarea {
    width: 100%;
    min-height: 150px;

    @media (min-width: @tablet-width) {
      min-height: 174px;
    }
  }
}

.main-form__fieldset-title {
  font-size: 24px;
  line-height: 26px;

  color: @main-black;
}

.main-form__footer {
  display: grid;
  grid-template-rows: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-form__button {
  border: none;

  padding: 14px 88px;
}

.main-form__tip {
  line-height: 16px;

  color: @main-black;
}
