.page-footer {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);

  @media (min-width: @tablet-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
  }
}

.page-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--actual {
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
