.page-header {
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  &--border {
    border-bottom: 1px solid @gray-overline;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }
}

.page-header__main-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 65px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.page-header__logo-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  min-height: 65px;
  width: 100%;

  margin-right: 67px;
  margin-left: 20px;
  padding-right: 42px;

  @media (min-width: @tablet-width) {
    display: block;

    min-height: unset;
    width: unset;

    padding: 0;
    margin-top: 24px;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-top: 53px;
  }
}

.page-header__logo {
  margin-bottom: 2px;

  &:nth-child(2) {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--actual {
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.page-header__logo-icon {
  min-width: 33px;
  min-height: 38px;
}

.page-header__logo-title {
  width: 101px;
  height: 18px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-image {
  @media (min-width: @tablet-width) {
    min-width: 174px;
  }

  @media (min-width: @desktop-width) {
    min-width: 202px;
  }
}
