.page-footer {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 39px;
  padding-bottom: 22px;

  text-align: center;

  display: grid;
  grid-template-rows: repeat(3, 1fr);

  @media (min-width: @tablet-width) {
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.page-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--actual {
    &:hover,
    &:active {
      opacity: 1;
    }
  }

  @media (min-width: @tablet-width) {
    text-align: left;
    align-self: center;
    border: none;

    margin-top: 2px;
  }
}
