.promo {
  background-color: @main-green;
  background-image: url("../../img/header/page-header-cat.png");
  background-repeat: no-repeat;
}

.promo__title {
  color: @main-white;
}

.promo__button {
  padding: 14px 88px;
}
