@main-green: #68B738;
@main-white: #FFFFFF;
@main-black: #000000;

@basic-grey: #F2F2F2;
@basic-green: #68B738;

@special-grey: #444444;
@special-black: #111111;

@additional-green: #5EAA2F;
@additional-grey: #EAEAEA;
@additional-black: #222222;

@opacity-white: rgba(255, 255, 255, 0.3);
@opacity-special-grey: rgba(68, 68, 68, 0.3);
@opacity-black: (0, 0, 0, 0.4);

@grey-button-hover: #EBEBEB;

@grey-input: #E7E7E7;
@grey-input-hover: #CDCDCD;

@red-input-error: #FF8282;

@gray-border: #E6E6E6;

@gray-overline: #D9D9D9;

@gray-scale: #DCDCDC;
